@import "tailwindcss";

@theme {
  --color-background: #13294B;
  --color-background-secondary: #0f2240;
  --color-foreground: #ffffff;
  --color-foreground-secondary: #9C9A9D;
  --color-card: #1e3a5f;
  --color-accent-teal: #FF5F05;
  --color-accent-blue: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}